# === Node ===
node_modules/
npm-debug.log*
yarn-error.log*
legacy-node/node_modules/

# === Java / Maven ===
target/
*.class
*.jar
*.war
*.iml
.DS_Store

# === IDEs ===
.idea/
.vscode/

# === SO ===
Thumbs.db
